body {
    display: flex;
    min-height: 100vh;
    padding: 0;
    margin: 0;
   flex-direction: column;
   
}

.header {
    display: flex;
    color: white;
    background-color: #1F2937;
}
ol {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
}

.top-layer {
    display: flex;
    background-color: #1F2937;
    color: white;
}

.second-layer {
    display: flex;
    background-color: white;
}

.third-layer {
    background-color: lightgray;
    color: black;
}

.four {
    background-color: white;
    color: black;
}

.calltoaction {
    background-color:blue;
}
.footer {
    color: white;
    background-color: #1F2937;

}

.header,
.top-layer,
.second-layer,
.third-layer,
.fourth-layer,
.footer {
    flex-direction: row;
    min-width: 100%;
    flex: 1;

}