body {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    flex: 1; 
    height: 1200px;
}

.header {
    display: flex;
    color: white;
    background-color: #1F2937;
    padding: 10px 0;
    justify-content: space-between;
}

ol {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    gap: 25px;
    margin: 0 75px 0 0;
}

.logo {
    margin: 0 75px;
}

.top-layer {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.toptext p {
    width: 300px;
}

.top-layer button {
    background-color: blue;
    color: white;
}

.second-layer {
    display: flex;
    background-color: white;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards div {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
}

.third-layer {
    display: flex;
    background-color: lightgray;
    color: black;
}

.quote {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: column;
}

.pone {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    flex-wrap: wrap;
    Width: 400px;
   
}

.ptwo {
    display: flex;
    justify-content: center;
}

.four {
    display: flex;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.calltoaction {
    background-color:blue;
    display: flex;
    flex: 0 0 450px;
    height: 20px;
}

.calltoaction * {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    color: white;
    background-color: #1F2937;

}

