body {
    display: flex;
    min-height: 100vh;
    padding: 0;
    margin: 0;
   flex-direction: column;
   flex: 1;
   
}

.header {
    display: flex;
    color: white;
    background-color: #1F2937;
    padding: 10px 0;
    justify-content: space-between;
}

ol {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    gap: 25px;
    margin: 0 75px 0 0;
}

.logo {
    margin: 0 75px;
}
.toptext p {
    width: 300px;
}

.top-layer {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-around;
}

.top-layer button {
    background-color: blue;
    color: white;
}
.second-layer {
    display: flex;
    background-color: white;
}

.third-layer {
    background-color: lightgray;
    color: black;
}

.four {
    background-color: white;
    color: black;
}

.calltoaction {
    background-color:blue;
}
.footer {
    color: white;
    background-color: #1F2937;

}

.header,
.top-layer,
.second-layer,
.third-layer,
.fourth-layer,
.footer,
.cards {
    flex-direction: row;
    min-width: 100%;
    flex: 1;
}

.cards div {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
}

.second-layer {
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
